html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
}
body {
  background-image: url('../img/background.png');
}
p {
  margin: 0;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  box-sizing: border-box;
}
#button-row {
  height: 15%;
}
#button-row > .medium-button,
#button-row > label {
  height: 100%;
  width: 25%;
  padding: 0;
}
#input-area {
  height: 85%;
}
#input-area > .big-button {
  height: 100%;
  width: 50%;
}
#portrait-warning {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
#portrait-warning.input-disabled {
  background: white url('../img/no-controller.png') no-repeat center;
  background-size: 128px 128px;
  display: block;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clear:after {
  content: '';
}
.big-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/big/normal.png') 100 fill;
  border-image-width: 100;
}
.big-button:hover:not(.no-hover) {
  cursor: pointer;
}
.big-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/big/pressed.png') 100 fill;
  border-image-width: 100;
}
.big-button img {
  pointer-events: none;
  position: relative;
  top: 25%;
  height: 50%;
}
.medium-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/medium/normal.png') 50 fill;
  border-image-width: 50;
}
.medium-button:hover:not(.no-hover) {
  cursor: pointer;
}
.medium-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/medium/pressed.png') 50 fill;
  border-image-width: 50;
}
.medium-button img {
  pointer-events: none;
  position: relative;
  top: 10%;
  height: 80%;
}
.small-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/small/normal.png') 44 fill;
  border-image-width: 44;
}
.small-button:hover:not(.no-hover) {
  cursor: pointer;
}
.small-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/small/pressed.png') 44 fill;
  border-image-width: 44;
}
.small-button img {
  pointer-events: none;
  position: relative;
  top: 10%;
  height: 80%;
}
.next-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/arrow/next/normal.png') 0 fill;
  border-image-width: 0;
}
.next-button:hover:not(.no-hover) {
  cursor: pointer;
}
.next-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/arrow/next/pressed.png') 0 fill;
  border-image-width: 0;
}
.next-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.previous-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/arrow/previous/normal.png') 0 fill;
  border-image-width: 0;
}
.previous-button:hover:not(.no-hover) {
  cursor: pointer;
}
.previous-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/arrow/previous/pressed.png') 0 fill;
  border-image-width: 0;
}
.previous-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.blue-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/blue/normal.png') 0 fill;
  border-image-width: 0;
}
.blue-button:hover:not(.no-hover) {
  cursor: pointer;
}
.blue-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/blue/pressed.png') 0 fill;
  border-image-width: 0;
}
.blue-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.green-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/green/normal.png') 0 fill;
  border-image-width: 0;
}
.green-button:hover:not(.no-hover) {
  cursor: pointer;
}
.green-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/green/pressed.png') 0 fill;
  border-image-width: 0;
}
.green-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.orange-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/orange/normal.png') 0 fill;
  border-image-width: 0;
}
.orange-button:hover:not(.no-hover) {
  cursor: pointer;
}
.orange-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/orange/pressed.png') 0 fill;
  border-image-width: 0;
}
.orange-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.pink-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/pink/normal.png') 0 fill;
  border-image-width: 0;
}
.pink-button:hover:not(.no-hover) {
  cursor: pointer;
}
.pink-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/pink/pressed.png') 0 fill;
  border-image-width: 0;
}
.pink-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.red-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/red/normal.png') 0 fill;
  border-image-width: 0;
}
.red-button:hover:not(.no-hover) {
  cursor: pointer;
}
.red-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/red/pressed.png') 0 fill;
  border-image-width: 0;
}
.red-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.turquoise-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/turquoise/normal.png') 0 fill;
  border-image-width: 0;
}
.turquoise-button:hover:not(.no-hover) {
  cursor: pointer;
}
.turquoise-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/turquoise/pressed.png') 0 fill;
  border-image-width: 0;
}
.turquoise-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.violet-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/violet/normal.png') 0 fill;
  border-image-width: 0;
}
.violet-button:hover:not(.no-hover) {
  cursor: pointer;
}
.violet-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/violet/pressed.png') 0 fill;
  border-image-width: 0;
}
.violet-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.white-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/white/normal.png') 0 fill;
  border-image-width: 0;
}
.white-button:hover:not(.no-hover) {
  cursor: pointer;
}
.white-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/white/pressed.png') 0 fill;
  border-image-width: 0;
}
.white-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.yellow-button {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-image: url('../img/buttons/hexagon/yellow/normal.png') 0 fill;
  border-image-width: 0;
}
.yellow-button:hover:not(.no-hover) {
  cursor: pointer;
}
.yellow-button:active:not(.no-hover) {
  cursor: pointer;
  border-image: url('../img/buttons/hexagon/yellow/pressed.png') 0 fill;
  border-image-width: 0;
}
.yellow-button img {
  pointer-events: none;
  position: relative;
  top: 0%;
  height: 100%;
}
.dialog-container {
  background-color: rgba(128, 128, 128, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.screen {
  width: 100%;
  height: 100%;
}
.input,
.label {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 25px;
  text-align: left;
}
.v-center {
  position: relative;
  display: block;
  top: 50%;
  margin-top: -12.5px;
}
.hidden {
  display: none;
  width: 0;
  height: 0;
}
label {
  text-align: center;
}
/* Character Screen */
#color-config-container {
  width: 270px;
  float: right;
  transform: scale(0.5);
  transform-origin: top;
}
#canvas-container {
  margin: 0 auto;
  width: 250px;
  height: 350px;
  position: relative;
  display: block;
  top: 50%;
  margin-top: -175px;
}
#head-canvas {
  z-index: 1;
  width: 113.5px;
  height: 87px;
  margin: 0 auto;
  margin-top: 23px;
  padding-left: 11.5px;
  display: block;
  position: relative;
}
#character-canvas {
  margin: 0 auto;
  width: 75px;
  height: 89px;
  position: relative;
  display: block;
  top: 50%;
  margin-top: -44.5px;
}
.character-view {
  height: 80%;
  width: 100%;
  float: left;
  padding-right: 270px;
  margin-right: -270px;
}
.title-text-container {
  height: 10%;
  text-align: center;
}
.title-text-container .text {
  position: relative;
  display: block;
  top: 50%;
  margin-top: -12.5px;
}
.start-btn-container {
  position: absolute;
  bottom: 0px;
  height: 10%;
  width: 100%;
  padding-right: 270px;
  text-align: center;
}
#start {
  height: 90%;
  width: 200px;
}
.color-btn {
  position: absolute;
  width: 75px;
  height: 63px;
}
.color-btns {
  position: relative;
  height: 300px;
}
.config-block {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}
.arrow {
  position: absolute;
}
#head-dec {
  left: 10%;
  top: 25%;
}
#head-inc {
  right: 10%;
  top: 25%;
}
#torso-dec {
  left: 10%;
  bottom: 25%;
}
#torso-inc {
  right: 10%;
  bottom: 25%;
}
.sprite-block {
  height: 15%;
}
.color-block {
  height: 290px;
}
.text {
  -webkit-text-stroke: 1px black;
}
button {
  min-height: 48px;
  min-width: 48px;
  font-size: 24px;
  background: transparent;
  border: 1px solid black;
}
.connection-error-content {
  padding: 12px;
  height: 250px;
}
.connection-lost-content {
  padding: 12px;
  height: 100px;
}
.connecting-content {
  padding: 12px;
  height: 50px;
}
